@model CRM.Project.Models.User.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div id="Login">
        <div class="popup">
            <div class="content">
                <div class="login-box">
                    <div class="lb-header">
                        <a href="#" class="active" id="login-box-link">Login Here</a>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="email-login">
                        <div class="u-form-group">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="u-form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="u-form-group">
                            <input type="submit" value="Login" class="btn btn-default" />
                            @if (ViewBag.InvalidUser != null && ViewBag.InvalidUser)
                            {
                                <span class="red-text">Invalid UserName And Password!</span>
                            }

                        </div>


                        <div class="u-form-group">
                            <a href="#ForGetPassword" class="forgot-password">Forgot password?</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
<style type="text/css">
    .popup {
        margin: 100px auto;
        padding: 35px;
        background: #fff;
        border-radius: 5px;
        width: 500px;
        min-height: 380px;
        height: auto;
        position: relative;
        transition: all 5s ease-in-out;
    }

        .popup h2 {
            font-size: 20px;
            font-weight: 600;
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #06D85F;
            }

        .popup .content {
            width: 450px;
            min-height: 300px;
            overflow: auto;
            float: none;
        }



    .lb-header {
        position: relative;
        color: #00415d;
        margin: 5px 5px 10px 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        text-align: center;
        height: 28px;
    }

        .lb-header a {
            margin: 0 25px;
            padding: 0 20px;
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

        .lb-header .active {
            color: #029f5b;
            font-size: 18px;
        }

    .email-login, .email-signup {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 20px;
        text-align: center;
    }

    .u-form-group {
        width: 100%;
        margin-bottom: 10px;
    }

        .u-form-group input[type="email"], .u-form-group input[type="text"],
        .u-form-group input[type="password"] {
            width: calc(70% - 22px);
            height: 45px;
            outline: none;
            border: 1px solid #ddd;
            padding: 0 10px;
            border-radius: 2px;
            color: #333;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
            display: inline;
        }

    .selectdrop {
        width: calc(70% - 22px);
        height: 45px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 2px;
        color: #333;
        font-size: 0.8rem;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        display: inline;
    }

    .u-form-group input:focus {
        border-color: #358efb;
    }

    .u-form-group input[type="submit"] {
        width: 30% !important;
        background-color: #1CB94E;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        padding: 14px 0;
        border-radius: 2px;
        text-transform: uppercase;
        float: none;
    }

    .forgot-password {
        width: 50%;
        text-align: left;
        text-decoration: underline;
        color: #888;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
